*{
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-size: 10px;
}

.header {
  display: flex;
  align-items: center; 
  border-top: 5px solid #800000;
  border-bottom: 1px solid #e3e3e3;
  padding: 0;
  margin: 0;
}
.left {
  display: flex;
  padding-left: 25px;
  align-items: center; 
}
.menuButton {
  font-size: 25px;
  text-decoration: none;
  color: #800000;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}
.menuButton:hover{
  background-color: inherit;
}
.right {
  text-align: center; 
  flex: 1; 
}
h1{
  text-align: center;
  font-family: Calibri;
  font-size: 45px;
  margin-top: 0;
  margin-bottom: 0;
}
h2{
  text-align: center;
  font-family: Calibri;
  font-size: 15px;
  color: rgb(79, 77, 77);
  margin-top: 0;
  margin-bottom: 10px;
}
h4{
  text-align: left;
  font-family: Calibri;
  font-size: 25px;
  color: rgb(45, 43, 43);
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 10px;
}
p{
  text-align: left;
  font-family: Calibri;
  font-size: 20px;
  color: rgb(79, 77, 77);
  margin-top: 0;
  padding-left: 10px;
}
/* Left and right side columns*/
.App {
  font-family: Calibri;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-size: 16px;
}
.App {
  display: flex;
}
.leftColumn{
  width: 30%;
  border-right: 1px solid #e3e3e3;
  height: 100vh;
}

.rightColumn{
  width: 100%;
  height: 100vh;
}
button{
  background: none;
  font-size: 30px;
  border: 0;
  margin: 0;
  padding-right: 10px;
  cursor: pointer;
  color: #800000;
}

.noteHeader{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 2px solid #e3e3e3;
}
.NoteHeaderTitle h1 {
  font-size: 35px;
  font-family: Calibri;
  color: #800000;
}
.noNote{
  text-align: center;
  padding-top: 10px;
  color: #605c5c;
  font-size: 25px;
  font-family: calibri;
}
.newNote{
  cursor: pointer;
  border-bottom: 1px solid #e3e3e3;
  text-align: left;
  font-size: 20px;
  font-family: Calibri;
  color: rgb(49, 48, 48);
}
.newNote:hover{
  background-color: rgba(128, 0, 0, 0.2); /*Maroon color with 20% opacity*/
}
.newNote.active{
  background-color: rgba(128, 0, 0, 0.5); /*Maroon color with 50% opacity*/
}

.noteHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e3e3e3;
}


.textboxTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: none;
}

.textboxTitle input {
  border: none;
  outline: none;
  font-size: 30px;
  font-weight: bold;
  width: 100%;
  padding-top: 10px;
}
